# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by for Data Scientists
- Learn how to create table by using Jupyter Notebook
- Learn how to create Markdown cells
- Learn how to calculation in code cells

#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. PyTorch
6. Keras

|Data Science Tools |  
| ------ | 
| Google Colab |
| Jupyter Notebook |
| Apache Spark |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
Hao Shi